@import '../../../assets/css/styles.scss';

.title-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2 {
        font-size: 2em;
        margin-bottom: 0;
    }
    hr {
        border: 2px solid #e0e0e0;
        width: 20%;
    }
    .rock {
        color: $rock-color;
    }    
    .paper {
        color: $paper-color;
    }
    .scissors {
        color: $scissors-color;
    }
}