$win: #2ecc71;
$lose: #e74c3c;

.play-container {
    border: 2px solid #e0e0e0;
    padding: 16px 12px;
    border-radius: 4px;
    margin: 16px 0;
    position: relative;
    &.win {
        border-color: $win;
        .title {
            color: $win;
        }
    }
    &.lose {
        border-color: $lose;
        .title {
            color: $lose;
        }
    }
    .title {
        position: absolute;
        background: white;
        top: -12px;
        padding: 0 8px;
        font-size: 1.2em;
        font-weight: 300;
        color: #888;
    }
    .moves-container {
        display: flex;
        position: relative;    
        justify-content: space-around;
        .move {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img {
                width: 55%;
            }
            p {
                margin: 0;
                padding-top: 8px;
                color: #666;        
            }
        }
        hr {
            z-index: -1;
            position: absolute;
            width: 60%;
            left: 20%;
            top: 20%;
            border: solid 1px #e0e0e0;
        }
    }   
}
