.timeline-container {
    flex: 4;
    padding: 12px;
    overflow: hidden;
    h4 {
        margin: 0;
        color: #666;
        padding-bottom: 4px;
        font-weight: 500;
        span {
            font-weight: 300;
        }
    }
    .plays-container {
        height: 98%;
        overflow: hidden;
        overflow-y: auto;
    }
}